
.form {
    max-width: 30rem;
    border-radius: 7px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
  }
  
  .form label,
  .form input,
  .form textarea {
    display: block;
  
    width: 100%;
  }
  
  .form input,
  .form textarea, select, option {
    font: inherit;
    padding: 0.25rem;

  opacity: 0.5;
    border-radius: 4px;
}
  
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  .btn{
   
    background: #14396a;
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#ffffff;
    border-radius:8px;
    
 
  
    background:#374a9c;
   
 
 
  }
  
  .btn:hover {
    background: #232f63;
    transition: ease-in-out;
    
  }
                