.exams {
  margin: 2rem auto;

  align-items: center;
  /* border: solid rgb(131, 131, 131) 1px; */
}

li{margin:0;
}
.list {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.item {
  text-decoration: none;
  list-style: none;
}

.item a {
  flex-wrap: wrap;
  margin-left: 0;
  max-width: 100%;
  color: black;
  display: flex;
  border-radius: 4px;
  text-decoration: none;
  list-style: none;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
}

.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
  transition: ease-in 100ms;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.item img {
  max-width: 10rem;
margin: 0 0.7rem;
  object-fit: cover;
}

.content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
 
  text-align: left;
}
.item h2 {
  margin: 0 0 1rem 0;
}

.titles {
  margin: 0 0.5rem;
  text-align: left;
}

.card {
  display: flex;
  padding: 0 1rem;
  max-width: 70rem;
  margin: 0 auto;
  border-radius: 4px;
  text-decoration: none;

  list-style: none;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
