.items {
  max-width: 60rem;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  border-radius: 9px;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.08);
  flex-wrap: wrap;
}

.items:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
  transition: ease-in 100ms;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.items span {
  color: rgb(128, 128, 128);
}

.container {
  text-align: left;
  max-width: 25rem;
  margin: 0 auto;
}

.items img {
  max-width: 45%;
  border-radius: 7px;
  object-fit: cover;
}

@media screen and (max-width: 762px) {
  .items img {
    max-width: 100%;

    /* object-fit: cover; */
    object-fit: cover;
  }

  .container {
    float: left;
  }
}

/* in updatePage */
.items .description {
  text-align: left;
  max-width: 25rem;
  margin: 1rem auto;
  line-height: 1.4rem;
  font-size: 1.1rem;
  color: rgb(68, 68, 68);
  /* border:solid red 1px; */
}

.item .titles {
  color: rgba(20, 19, 19, 0.836);
}

.item h3 span{
  color: rgb(109, 108, 108);
}

.actions button,
.actions a {
  gap: 1rem;

  align-items: center;
  padding: 0;
}
/* buttons */
/* shared buttons properties */
.actions button,
.actions a {
  margin-right: 1rem;
  color: white;
  background-color: #14396a;
  border: none;
  padding: 8px 25px;
  border-radius: 7px;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.actions .delete {
  background-color: #c01616;
}

 /* buttons hover effects*/
.actions button:hover,
.actions a:hover {
  transition: 300ms ease-in-out;
}

.actions .delete:hover {
  background-color: #ff0000;
}

.actions .update:hover {
  background-color: #1f569e;
}
